absl-py==2.3.1
action-msgs==1.2.2
action-tutorials-interfaces==0.20.5
action-tutorials-py==0.20.5
actionlib-msgs==4.9.0
alembic==1.16.5
ament-cmake-test==1.3.12
ament-copyright==0.12.14
ament-cppcheck==0.12.14
ament-cpplint==0.12.14
ament-flake8==0.12.14
ament-index-python==1.4.0
ament-lint==0.12.14
ament-lint-cmake==0.12.14
ament-package==0.14.1
ament-pep257==0.12.14
ament-uncrustify==0.12.14
ament-xmllint==0.12.14
angles==1.15.0
anyio==4.10.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
astroid==3.3.11
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
autopep8==2.0.4
babel==2.17.0
beautifulsoup4==4.13.5
black==25.9.0
bleach==6.2.0
Bottleneck @ file:///croot/bottleneck_1731058641041/work
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
builtin-interfaces==1.2.2
certifi @ file:///croot/certifi_1754570635119/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click==8.3.0
colorlog==6.9.0
comm==0.2.3
composition-interfaces==1.2.2
contourpy==1.3.2
cv-bridge==3.2.1
cycler==0.12.1
d2l==0.17.0
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
demo-nodes-py==0.20.5
diagnostic-msgs==4.9.0
dill==0.4.0
docstring-to-markdown==0.17
domain-coordinator==0.10.0
example-interfaces==0.9.3
examples-rclpy-executors==0.15.4
examples-rclpy-minimal-action-client==0.15.4
examples-rclpy-minimal-action-server==0.15.4
examples-rclpy-minimal-client==0.15.4
examples-rclpy-minimal-publisher==0.15.4
examples-rclpy-minimal-service==0.15.4
examples-rclpy-minimal-subscriber==0.15.4
exceptiongroup==1.3.0
executing==2.2.1
fastjsonschema==2.21.2
filelock @ file:///croot/filelock_1744281381737/work
flake8==7.1.2
fonttools==4.60.0
fqdn==1.5.1
fsspec==2025.9.0
geometry-msgs==4.9.0
gmpy2 @ file:///croot/gmpy2_1738085463648/work
graphviz==0.21
greenlet==3.2.4
grpcio==1.75.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna @ file:///croot/idna_1714398848350/work
image-geometry==3.2.1
importlib_metadata==8.7.0
interactive-markers==2.3.2
ipykernel==6.30.1
ipython==8.37.0
ipython-genutils==0.2.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
isort==6.0.1
jedi==0.19.2
Jinja2 @ file:///croot/jinja2_1741710844255/work
joblib==1.5.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
jupyter_core==5.8.1
jupyter_nbextensions_configurator==0.6.4
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kiwisolver==1.4.9
lark==1.2.2
laser-geometry==2.4.0
launch==1.0.10
launch-ros==0.19.12
launch-testing==1.0.10
launch-testing-ros==0.19.12
launch-xml==1.0.10
launch-yaml==1.0.10
lifecycle-msgs==1.2.2
llvmlite==0.45.0
logging-demo==0.20.5
lxml==6.0.1
Mako==1.3.10
map-msgs==2.1.0
Markdown==3.9
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.7.2
matplotlib-inline==0.1.6
mccabe==0.7.0
message-filters==4.3.8
mistune==3.1.4
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mpmath @ file:///croot/mpmath_1690848262763/work
mypy_extensions==1.1.0
nav-msgs==4.9.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx @ file:///croot/networkx_1737039604450/work
notebook==7.4.5
notebook_shim==0.2.4
numba==0.62.0
numexpr @ file:///croot/numexpr_1752521720723/work
numpy==1.23.5
nvidia-ml-py==13.580.82
nvitop==1.5.3
optuna==4.5.0
osrf-pycommon==2.1.6
overrides==7.7.0
packaging==25.0
pandas==1.3.5
pandocfilters==1.5.1
parso==0.8.5
pathspec==0.12.1
pcl-msgs==1.0.0
pendulum-msgs==0.20.5
pexpect==4.9.0
pillow @ file:///croot/pillow_1752524526621/work
platformdirs==4.4.0
pluggy==1.6.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
protobuf==6.32.1
psutil==7.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.12.1
pycparser @ file:///home/task_175749556993857/conda-bld/pycparser_1757496041120/work
pydocstyle==6.3.0
pyflakes==3.2.0
Pygments==2.19.2
pylint==3.3.8
pyparsing==3.0.9
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-json-logger==3.3.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.13.1
python-qt-binding==1.1.2
pytokens==0.1.10
pytoolconfig==1.3.1
pytz @ file:///croot/pytz_1752135852232/work
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq==27.1.0
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
qtconsole==5.7.0
QtPy==2.4.3
quality-of-service-demo-py==0.20.5
rcl-interfaces==1.2.2
rclpy==3.3.17
rcutils==5.1.7
referencing==0.36.2
requests==2.31.0
resource-retriever==3.1.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rmw-dds-common==1.6.0
rope==1.14.0
ros2action==0.18.14
ros2bag==0.15.15
ros2cli==0.18.14
ros2component==0.18.14
ros2doctor==0.18.14
ros2interface==0.18.14
ros2launch==0.19.12
ros2lifecycle==0.18.14
ros2multicast==0.18.14
ros2node==0.18.14
ros2param==0.18.14
ros2pkg==0.18.14
ros2run==0.18.14
ros2service==0.18.14
ros2topic==0.18.14
rosbag2-interfaces==0.15.15
rosbag2-py==0.15.15
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.7
rosidl-cli==3.1.7
rosidl-cmake==3.1.7
rosidl-generator-c==3.1.7
rosidl-generator-cpp==3.1.7
rosidl-generator-py==0.14.5
rosidl-parser==3.1.7
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.7
rosidl-typesupport-introspection-cpp==3.1.7
rpds-py==0.27.1
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.7
rqt-gui-py==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
scikit-learn==1.7.2
scipy==1.10.1
Send2Trash==1.8.3
sensor-msgs==4.9.0
sensor-msgs-py==4.9.0
shape-msgs==4.9.0
six @ file:///croot/six_1744271502820/work
sniffio==1.3.1
snowballstemmer==3.0.1
soupsieve==2.8
SQLAlchemy==2.0.43
sros2==0.10.7
stack-data==0.6.3
statistics-msgs==1.2.2
std-msgs==4.9.0
std-srvs==4.9.0
stereo-msgs==4.9.0
sympy==1.13.1
teleop-twist-keyboard==2.4.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
terminado==0.18.1
tf2-geometry-msgs==0.25.16
tf2-kdl==0.25.16
tf2-msgs==0.25.16
tf2-py==0.25.16
tf2-ros-py==0.25.16
tf2-sensor-msgs==0.25.16
tf2-tools==0.25.16
threadpoolctl==3.6.0
tinycss2==1.4.0
tomli==2.2.1
tomlkit==0.13.3
topic-monitor==0.20.5
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
torchviz==0.0.3
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
trajectory-msgs==4.9.0
triton==3.1.0
turtlesim==1.4.2
types-python-dateutil==2.9.0.20250822
typing_extensions @ file:///croot/typing_extensions_1756280817316/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
ujson==5.11.0
unique-identifier-msgs==2.2.1
uri-template==1.3.0
urllib3 @ file:///croot/urllib3_1750775463400/work
visualization-msgs==4.9.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
whatthepatch==1.0.7
widgetsnbextension==4.0.14
yapf==0.43.0
zipp==3.23.0
